.text-center{
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.square{
  width: 4rem;
  height: 4rem;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 2rem;
  margin: 2px;
  border: none;
  color: white;
  border: darkgray solid 1px;
}

.square.-entered{
  color: rgb(26, 26, 26);
  background-color: white;
  border: #111111 solid 2px;
}

.square.-wrong{
  background-color: darkgray;
}

.square.-closed{
  background-color: #ffd858;
}

.square.-correct{
  background-color: #77dd77;
}

.row{
  display: flex;
  flex-direction: row;
}

.wordle{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.keyboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.key{
  cursor: pointer;
  height: 5rem;
  background-color: darkgray;
  border: white solid 2px;
  border-radius: 8px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  padding: 0 1rem;
}
